
<head>
  <h1>IMDB API</h1>
</head>

<body>

  <p>
    The IMDb API is a free web service to obtain movie information, all content and images on the site are contributed and maintained by our users.
  </p>

  <p>
    <ul>
      <li>/all should return a json object with all of the movies in the database</li>
      <li>/search/?t=harry should return a json object with all the movies with 'harry' in their title</li>
      <li>/search/?y=2001 should return a json object with all the movies made in 2001</li>
      <li>/search/?t=harry&y=2001 should return a json object with all the movies with 'harry' in their title that were made in 2001</li>
    </ul>
  </p>
</body>
